.productDiv_section {
    // display: block;
    width: 100vw;
}

.productDiv_div {
    height: 35rem;
    width: 50vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.productDiv_img{
    height: 12rem;
}