.header_container {
    background-image: url("https://img.freepik.com/fotos-premium/mujer-turista-relajante-puff-junto-piscina-hotel_34840-501.jpg?w=2000");
    background-color: green;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header_h1,
.header_button {

    margin-top: 8rem;
}