.navbar_nav {
    color: azure;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    height: 6rem;
}

.navbar_div {
    width: 30vw;
}

.navbar_div_ul {
    justify-content: space-between;
}

.divPufi {
    font-size: 3rem;
}

.navbar_perfil_options {
    width: 10rem;
    font-size: smaller;
    justify-content: space-between
}

.navbar_img {
    padding-bottom: 10px;
    height: 4rem;
}