.navbar_nav {
    justify-content: space-between;
    align-items: flex-start;
    padding: 2rem;
    height: 6rem;
}

.navbar_div {
    width: 30vw;
}

.navbar_div_ul {
    justify-content: space-between;
}

.divPufi {
    background-color: rgb(224, 149, 149);
}


.navbar_img {
    height: 4rem;
}