$white: rgb(255, 246, 246);
$black: rgb(10, 8, 8);
$gray: rgb(163 163 163 / 28%);

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

body {
    width: 100vw;
    margin: 0px;
    font-family: "Raleway", 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
    color: rgb(242, 255, 255);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

button {
    background-color: transparent;
    color: $white;
    border-color: $white;
    padding: 1.5rem 3.5rem;
    border-style: solid;
}

ul {
    list-style-type: none;
    padding: 0px;
}

.App {
    text-align: center;
}

.fl-rw-ctr {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fl-cl-ctr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}